.sideNav {
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  right: 0;
}

.mobile-sideNav {
  display: none;
}

@media only screen and (max-width: 700px) {
  .sideNav {
    display: none;
  }
  .mobile-sideNav {
    display: block;
  }
}
