.navbar {
    background-color: #7d8de8;
    height: 40px;
    position: relative;
    /* display: flex;
    justify-content: start;
    align-items: center; */
}

.menu-bars {

    background: none;
}

.nav-menu1 {
    background-color: #7d8de8;
    width: 105px;
    height: 100vh;
    display: flex;
    position: fixed;
    transition: 650ms;

}

.nav-menu2 {
    background-color: #7d8de8;
    width: 25px;
    height: 100vh;
    display: flex;
    position: fixed;
    transition: 650ms;
}

.nav-menu2 .nav-menu-items li a span {
    display: none;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.5s linear; */
}

.nav-menu1 .nav-menu-items li a span {
    display: inline-block;
    animation: fadeIn 0.5s;
    /* visibility: visible;
    opacity: 1; */
}
#sidebarItem{
    max-height: 26px !important;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
}


nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    /* color: blanchedalmond; */
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

nav-text a {
    text-decoration: none;
    color: #f5f5f5 fonts
}